$bodybckgr:#dcbb9a;
$contentbckgr:white;
$hcolor:#893c00;
$pcolor:black;
$ttrans: capitalize;
$briefwidth:400px;
$briefcolor:#fadcba;
$linccolor:#3d70a1;
$thbrcolor:#e0e0e0;
$tdbrcolor:#ffffff;
$tdcolor: black;
$formhcolor:#808080;
$btcolor:#3d70a1;
$btbrcolor:white;