$bodybckgr:rgba(198, 238, 252, 0.53);
$contentbckgr:#3b3b3b;
$hcolor:#fccd10;
$pcolor:white;
$ttrans: uppercase;
$briefwidth:960px;
$briefcolor:#fff178;
$linccolor:#fccd10;
$thbrcolor:#94a34e;
$tdbrcolor:#677d01;
$tdcolor: white;
$formhcolor:#fccd10;
$btcolor:#fccd10;
$btbrcolor:#3b3b3b;
